*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: #fffed5;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat';
}

#root {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}
