:root {
  --colors-brown: #090b0b;
  --colors-light-brown: #131616;
  --colors-red: #de4335;
  --colors-pink: #ff7e42;
  --colors-yellow: #f0c528;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
